#!name=规则
#!desc=

[Rule]
DOMAIN-SUFFIX,ft.com,🇬🇧 United Kingdom 2
DOMAIN-KEYWORD,DISNEY,🇭🇰 Hong Kong 02
DOMAIN-KEYWORD,hbo,🇨🇳 Taiwan 2
DOMAIN-KEYWORD,nytimes,🇺🇸 United States 02
DOMAIN-KEYWORD,dowjones,🇺🇸 United States 02
DOMAIN-KEYWORD,hulu,🇭🇰 Hong Kong 02
